<%= form_for(@score, url: scores_path) do |f| %>
  <div class="field">
    <%= f.label :player_id %>
    <%= f.collection_select :player_id, Player.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :game_mode %>
    <%= f.select :game_mode, ["Classic", "Pearlbrook", "Bellfair"] %>
  </div>
  <div class="field">
    <%= f.label :total_score %>
    <%= f.number_field :total_score %>
  </div>
  <div class="field">
    <%= f.label :city_points %>
    <%= f.number_field :city_points %>
  </div>
  <div class="field">
    <%= f.label :coin_points %>
    <%= f.number_field :coin_points %>
  </div>
  <div class="field">
    <%= f.label :event_points %>
    <%= f.number_field :event_points %>
  </div>
  <div class="field">
    <%= f.label :extra_points %>
    <%= f.number_field :extra_points %>
  </div>
  <%= f.submit %>
<% end %>
