<h1>Everdell Scoreboard</h1>

<div>
  <p>Top 3</p>
  <% @top_scores.each do |score|%>
    <p><%= score.total_score %></p>
    <p><%= score.player.name %></p>
    <p><%= score.created_at %></p>
  <% end %>
</div>
<div>
  <p>Most city points</p>
  <p><%= @top_city.first.total_score %> - <%= @top_city.first.player.name %></p>
</div>
<div>
  <p>Most coin points</p>
  <p><%= @top_coin.first.coin_points %> - <%= @top_coin.first.player.name %></p>
</div>
<div>
  <p>Most event points</p>
  <p><%= @top_event.first.event_points %> - <%= @top_event.first.player.name %></p>
</div>
<div>
  <p>Most extra points</p>
  <p><%= @top_extra.first.extra_points%> - <%= @top_extra.first.player.name %></p>
</div>

<% @scores.reverse.each do |score| %>
  <div>
    <p><strong><%= score.player.username %></p></strong>
    <p><em><%= score.game_mode %></p></em>
    <p>Total score:<%= score.total_score %></p>
    <p><%= score.created_at %></p>
    <%= link_to "x", score_path(score), data: { turbo_method: :delete, turbo_confirm: "Delete Score?" } %>
  </div>
<% end %>

<%= link_to "Players", players_path %>

<%= form_for(@score, url: scores_path) do |f| %>
  <div class="field">
    <%= f.label :player_id %>
    <%= f.collection_select :player_id, Player.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :game_mode %>
    <%= f.select :game_mode, ["Classic", "Pearlbrook", "Bellfair"] %>
  </div>
  <div class="field">
    <%= f.label :city_points %>
    <%= f.number_field :city_points %>
  </div>
  <div class="field">
    <%= f.label :coin_points %>
    <%= f.number_field :coin_points %>
  </div>
  <div class="field">
    <%= f.label :event_points %>
    <%= f.number_field :event_points %>
  </div>
  <div class="field">
    <%= f.label :extra_points %>
    <%= f.number_field :extra_points %>
  </div>
  <%= f.submit %>
  <div>
  <p>Or add the total score directly (optional)</p>
  </div>
  <div class="field">
    <%= f.label :total_score %>
    <%= f.number_field :total_score %>
  </div>
<% end %>

<%# <%= render partial: 'form', locals: { score: @score } %> %>
